*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo{
    width: 100px;
    height: auto;
    padding-bottom: 50px,50px,50px,50px;
    
    

}

body{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("img/watch.jpg");
    background-size: cover;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}


.stopwatch{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 24px;
    border-radius: 10px;
}

.timerDisplay{
    font-size: 50px;
    font-weight: 600;
}

.buttons{
    margin-top: 20px;
}

.btn{
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
    background-color: var(--clr);
    padding: 12px 24px;
    margin-inline: 12px;
    border-radius: 8px;
    cursor: pointer;
}